body .el-dialog,
.com-floodlit-box {
  background-image: linear-gradient(
    325deg,
    var(--global-blue-darker) 0%,
    var(--global-blue-dark) 55%,
    var(--global-blue-darker) 90%
  );
  box-shadow:
    0 5px 5px -1px rgb(58 125 233 / 25%),
    inset -4px -4px 8px rgb(19 95 216 / 35%);
}

.com-scrollbar-hide {
  overflow: scroll auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.com-scrollbar-hide::-webkit-scrollbar {
  display: none;
  width: 0;
}
