@tailwind base;

@layer base {
  /*  * 添加自定义base */

  body {
    overflow: hidden; /*  防止echarts的tooltip移入时抖动 */
    font-size: 14px;
  }

  body,
  h1,
  h2,
  h3,
  p {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  img {
    vertical-align: top;
  }
}
