@import url("./styles/tailwindcss-base.css");
@import url("./styles/tailwindcss-components.css");
@import url("./styles/tailwindcss-utilities.css");

:root {
  --global-gray: #767676;
  --global-gray-a: #767676aa;
  --global-gray-5: #76767655;
  --global-pewter: #a7b6cd;
  --global-blue: #5aa0f4;
}
