@import url("./styles/prelight.css");
@import url("./styles/tailwindcss-base.css");
@import url("./styles/tailwindcss-components.css");
@import url("./styles/tailwindcss-utilities.css");
@import url("./styles//vant-config.css");

:root {
  --doc-height: 100%;
  --global-gray: #767676;
  --global-gray-a: #767676aa;
  --global-gray-5: #76767655;
  --global-pewter: #a7b6cd;
}
