/* stylelint-disable selector-pseudo-class-no-unknown */
.van-button {
  height: 28px;
}

:deep(.van-field__control) {
  width: 100px;
  height: 28px;
  text-align: center;
  border: 1px solid var(--global-gray-5);
  border-radius: 4px;
}

/* 下拉框 */
.van-dropdown-menu {
  overflow: hidden;
  text-align: center;
  border: 1px solid var(--global-gray-5);
  border-radius: 4px;
}

:deep(.van-dropdown-menu__item) {
  padding: 0 16px 0 6px;
}

:deep(.van-dropdown-item__content) {
  text-wrap: nowrap;
  width: fit-content;
}

/* 弹出层 */
:deep(.van-popup--top) {
  top: 2px;
  left: 160px;
  width: 80px;
}

/* 遮罩层 */
:deep(.van-overlay) {
  background-color: transparent;
}

/* 单元格 */
:deep(.van-cell) {
  padding: 0 10px;
}

:deep(.van-cell__title) {
  font-size: 14px;
}
